launch4j-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="launch4jConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="output" type="xs:string" />
				<xs:element name="jar" type="xs:string" />
				<xs:element name="jre">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="minVersion" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="mainClass" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>